{% sw_extends '@Storefront/storefront/page/product-detail/description.html.twig' %}
{% comment %}is this correct?{% comment %}
<!-- TODO this content will not be displayed in product details -->

{% block utilities_offcanvas_content %}
    <b>INSERTED content from src/Resources/views/storefront/page/product-detail/description.html.twig</b>
    <style>
        #ingos-cost-group-production {
            width: 45%; // TODO use dynamic values
        }
        #ingos-cost-group-logistics {
            width: 40%;
        }
        #ingos-cost-group-fulfilment {
            width: 15%;
        }
    </style>
    <div class="ingos-cost">

        <div class="ingos-cost-group ingos-active" id="ingos-cost-group-production" title="Produktion" onclick="ingos_cost_group_enter(this)">
            <div class="ingos-cost-group-bar animate__animated animate__pulse"></div>
            <div class="ingos-cost-group-label">
                <p class="ingos-cost-group-label-title">Produktion</p>
                <p class="ingos-cost-group-label-share">45%</p>
            </div>
        </div>

        <div class="ingos-cost-group" id="ingos-cost-group-logistics" title="Logistik" onclick="ingos_cost_group_enter(this)">
            <div class="ingos-cost-group-bar"></div>
            <div class="ingos-cost-group-label">
                <p class="ingos-cost-group-label-title">Logistik</p>
                <p class="ingos-cost-group-label-share">40%</p>
            </div>
        </div>

        <div class="ingos-cost-group" id="ingos-cost-group-fulfilment" title="Fulfilment" onclick="ingos_cost_group_enter(this)">
            <div class="ingos-cost-group-bar"></div>
            <div class="ingos-cost-group-label">
                <p class="ingos-cost-group-label-title">FoodTogether</p>
                <p class="ingos-cost-group-label-share">15%</p>
            </div>
        </div>

    </div>
{% endblock %}