{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
<h2>extend layout_footer_inner_container in @Storefront/storefront/layout/footer/footer.html.twig in theme plugin IngoSDemoTogetherTheme</h2>
{{ parent() }}
{% endblock %}